body {
    background-color:sienna;
	}
h1 {
  font-family:"helvecta neue light",helvecta,sans-serif;
  font-weight:300;
  text-align:center;
   }	
h3 {
  font-family:"helvecta neue light",helvecta,sans-serif;
  font-weight:100;
  text-align:center;
  }
img {
	align:center;
	}  